In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [ ]:
excel_file_path = '/content/online_retail_II.xlsx'
sheet_name = 'Year 2010-2011'

df_sheet = pd.read_excel(excel_file_path, sheet_name=sheet_name)
df_sheet.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [ ]:
df_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  datetime64[ns]
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
df = df_sheet

In [ ]:
df = df.dropna(subset=['Customer ID'])

In [ ]:
df = df[df['Quantity'] > 0]
df = df[df['Price'] > 0]

In [ ]:
df['TotalPrice'] = df['Quantity'] * df['Price']

In [ ]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [ ]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [ ]:
snapshot_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)

In [ ]:
rfm = df.groupby('Customer ID').agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'Invoice': 'nunique',
    'TotalPrice': 'sum'
}).reset_index()

rfm.columns = ['Customer ID', 'Recency', 'Frequency', 'Monetary']

In [ ]:
rfm

      Customer ID  Recency  Frequency  Monetary
0         12346.0      326          1  77183.60
1         12347.0        2          7   4310.00
2         12348.0       75          4   1797.24
3         12349.0       19          1   1757.55
4         12350.0      310          1    334.40
...           ...      ...        ...       ...
4333      18280.0      278          1    180.60
4334      18281.0      181          1     80.82
4335      18282.0        8          2    178.05
4336      18283.0        4         16   2094.88
4337      18287.0       43          3   1837.28

[4338 rows x 4 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
rfm_scaled = scaler.fit_transform(
    rfm[['Recency', 'Frequency', 'Monetary']]
)

In [ ]:
rfm_scaled

array([[ 2.33457414e+00, -4.25096503e-01,  8.35866823e+00],
       [-9.05340320e-01,  3.54416797e-01,  2.50965818e-01],
       [-1.75359593e-01, -3.53398530e-02, -2.85964697e-02],
       ...,
       [-8.45341904e-01, -2.95177619e-01, -2.08742787e-01],
       [-8.85340848e-01,  1.52368675e+00,  4.51808135e-03],
       [-4.95351144e-01, -1.65258736e-01, -2.41417370e-02]])

In [ ]:
from sklearn.cluster import KMeans

inertia = []
for k in range(2, 7):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(rfm_scaled)
    inertia.append(kmeans.inertia_)

In [ ]:
kmeans = KMeans(n_clusters=4, random_state=42)
rfm['Cluster'] = kmeans.fit_predict(rfm_scaled)

In [ ]:
rfm.groupby('Cluster')[['Recency', 'Frequency', 'Monetary']].mean()

            Recency  Frequency       Monetary
Cluster
0         43.702685   3.682711    1359.055178
1        248.075914   1.552015     480.617480
2          7.384615  82.538462  127338.313846
3         15.500000  22.333333   12709.090490

In [ ]:
cluster_labels = {
    0: 'Regular Customers',
    1: 'Churn Risk Customers',
    2: 'High Value Customers',
    3: 'Loyal Customers'
}

In [ ]:
rfm['Segment'] = rfm['Cluster'].map(cluster_labels)

In [ ]:
rfm.groupby('Segment')[['Recency', 'Frequency', 'Monetary']].mean()

                         Recency  Frequency       Monetary
Segment
Churn Risk Customers  248.075914   1.552015     480.617480
High Value Customers    7.384615  82.538462  127338.313846
Loyal Customers        15.500000  22.333333   12709.090490
Regular Customers      43.702685   3.682711    1359.055178

In [ ]:
rfm.to_csv('rfm_segmented.csv', index=False)